#contact {
    background-image: url(../assets/images/Background_Contacts.png);
    padding: 128px 120px 200px 128px;
    text-align: center;
    
}

#contact header h4 {
    color: var(--principal-color-purple);
    font-size: 1.4em;
    margin-bottom: 10px;
}

#contact header h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

#contact header p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.contact-list {
    margin-top: 48px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-list li {
    margin: 0 0 16px 0;
    border: 2px solid transparent;
    border-radius: 8px;
}

.contact-list a {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    background-color: var(--base-gray-300);
    width: 400px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--base-gray-500);
    font: var(--text-md);
    transition: all 0.3s ease;
}

.contact-list a:hover {
    border: 2px solid var(--principal-color-blue);
}

.contact-list a img {
    margin: 20px 12px 20px 20px; 
}

.contact-list a img:last-child {
    margin-left: auto; 
}

.icon-default {
    display: inline-block;
}
.icon-hover {
    display: none;
}

.contact-list a:hover .icon-default {
    display: none;
}

.contact-list a:hover .icon-hover {
    display: inline-block;
}
